
<div class="" role="main">

  <h1>NgxCSVParser by <a href="">Developers Hive</a></h1>
  <div class="csv-file-chooser-section">

  <input type="file" #fileImportInput name="File Upload" id="csvFileUpload" (change)="fileChangeListener($event)"
      accept=".csv" />

      <div>
        <!-- <button type="button" class="btn btn-md btn-outline-dark" (click)="openModalAgregar();"><span> Generar tabla con filtros </span><fa-icon class="select" [icon]="faPlus"></fa-icon>
        </button> -->
        <!-- <button type="button" (click)="duplicados2(array)"><span> Generar tabla con filtros </span></button> -->
      </div>
  </div>

  <div class="content">


    <table>
      <thead>
        <tr>
          <th>#</th>
          <th>Name</th>
          <th>Email</th>
          <th>Phone Number</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let csvData of csvRecords;let i = index;">

          <td>{{i+1}}</td>
          <td>
            <span *ngIf="!csvData.duplicado" class="">{{csvData.nombre}}</span>
            <span *ngIf="csvData.duplicado" class="duplicado">{{csvData.nombre}}</span>
          </td>
          <td>
            <span *ngIf="!csvData.duplicado" class="">{{csvData.correoElectronico}}</span>
            <span *ngIf="csvData.duplicado" class="duplicado">{{csvData.correoElectronico}}</span>
          </td>
          <td>
            <span *ngIf="!csvData.duplicado" class="">{{csvData.telefono}}</span>
            <span *ngIf="csvData.duplicado" class="duplicado">{{csvData.telefono}}</span>
          </td>
        </tr>
      </tbody>
    </table>

  </div>

  
  <div class="content">

    <table>
      <thead>
        <tr>
          <th>#</th>
          <th>Name</th>
          <th>Email</th>
          <th>Phone Number</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let csvData of repetidos;let i = index;">

          <td>{{i+1}}</td>
          <td>
            <!-- <span *ngIf=”seRepite()”>{{csvData.nombre}}</span> -->
            <span>{{csvData.nombre}}</span>
          </td>
          <td>
            <span>{{csvData.correoElectronico}}</span>
          </td>
          <td>
            <span>{{csvData.telefono}}</span>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>