
<div class="" role="main">

  <h1 class="blockquote text-center">CSV file chooser <a href="https://github.com/Arcsinista64/csv-parser">code & file example here!</a></h1>
  <div class="">

  <input class="content button btn btn-light" type="file" #fileImportInput name="File Upload" id="csvFileUpload" (change)="fileChangeListener($event)" accept=".csv" />
  </div>

  <div class="content">
    <table class="table center">
      <thead class="thead-light">
        <tr>
          <th>#</th>
          <th>Name</th>
          <th>Email</th>
          <th>Phone Number</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let csvData of csvRecords;let i = index;">

          <td>{{i+1}}</td>
          <td>
            <span *ngIf="!csvData.duplicado" class="">{{csvData.nombre}}</span>
            <span *ngIf="csvData.duplicado" class="duplicado">{{csvData.nombre}}</span>
          </td>
          <td>
            <span *ngIf="!csvData.duplicado" class="">{{csvData.correoElectronico}}</span>
            <span *ngIf="csvData.duplicado" class="duplicado">{{csvData.correoElectronico}}</span>
          </td>
          <td>
            <span *ngIf="!csvData.duplicado" class="">{{csvData.telefono}}</span>
            <span *ngIf="csvData.duplicado" class="duplicado">{{csvData.telefono}}</span>
          </td>
        </tr>
      </tbody>
    </table>

  </div>

  
  <div class="content">
    <p class="text-primary text-right font-weight-bolder">Juan Antonio García Ruiz</p>
    <p class="text-primary text-right ">ing.garciaruiz.9707@gmail.com</p>
    <p class="text-primary text-right ">garj1625667@uanl.edu.mx</p>
  </div>
</div>